@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  @apply min-h-screen;
  @apply text-base;
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  position: relative;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
  
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}